<div class="container mt-30">
    <h2>Success</h2>
    <p>Id de colección: {{ collection_id }}</p>
    <p>Estado de colección: {{ collection_status }}</p>
    <p>Referencia: {{ external_reference }}</p>
    <p>Tipo de pago: {{ payment_type }}</p>
    <p>Id de preferencia: {{ preference_id }}</p>
    <p>Id de sitio: {{ site_id }}</p>
    <p>Modo de procesamiento: {{ processing_mode }}</p>
    <p>Id de cuenta mercante: {{ merchant_account_id }}</p>
</div>
<script src="https://www.mercadopago.com/v2/security.js"></script>